<table class='table'>
  <thead class='thead-dark'>
    <tr style='text-align:center;'>
      <th scope='col'>Id</th>
      <th scope='col'>Name</th>
      <th scope='col'>Email</th>
      <th scope='col'>Role</th>
      <th scope='col'>Status</th>
      <th scope='col'>Update</th>
    </tr>
  </thead>
  <tbody>
    {{#each role}}
      <tr style='text-align:center;'>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{Role.name}}</td>
        <td>{{#if isActive}}<span class="badge badge-success">Active</span>{{else}}<span class="badge badge-danger">Not Active</span>{{/if}}</td>
        <td>
            <a href='/User/status/{{id}}?status={{isActive}}' style='color: black;'><i
                class='fa-solid fa-pen-to-square'
              ></i></a>
          </td>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<nav aria-label="Pagenavigation">
  <ul class="pagination justify-content-center">
    {{#each pagesArray}}
      <li {{#if (isCurrentPage ../currentPage this)}} class="page-item"{{/if}}>
        <a class="page-link" href='/user/?page={{this}}'>{{this}}</a>
      </li>
    {{/each}}
  </ul>
</nav>

<!--
<div class='row'>
  <ul class="pagination">
    {{#each pagesArray}}
      <li {{#if (isCurrentPage ../currentPage this)}} class="active"{{/if}}>
        <a href='/user/?page={{this}}'>{{this}}</a>
      </li>
    {{/each}}
  </ul>
</div>-->