<!-- ***** Header Area End ***** -->
<div class='main-banner' id='top' style='padding-bottom: 60px;'>
  <div class='container-fluid'>
    <div class='row justify-content-center'>
      <div class='col-md-4 col-xl-3'>
        <div class='card mb-2'>
          <div class='card-body text-center'>
            <h5 class='card-title mb-4'>Profile</h5>
            <img
              src='/images/{{user.image_url}}'
              class='assets/images-fluid rounded-circle mb-2'
              width='128'
              height='128'
            />
            <h3 class='mb-0'>{{user.name}} </h3>
            <div class='text-muted mb-0'>{{user.email}}</div>
            <div class='card-body'>
              <hr />
              <ul class='list-unstyled mb-0'>
                <li class='sidebar-item'>
                  <a class='profilebar-link active' href='/user/profile'>
                    <span class='align-middle'>Profile</span>
                  </a>
                </li>
                <li class='sidebar-item'>
                  <a
                    class='profilebar-link active'
                    href='/booking/order/{{user.id}}'
                  >
                    <span class='align-middle'>Manage Order</span>
                  </a>
                </li>
                <li class='sidebar-item'>
                  <a class='profilebar-link active' href='/user/image'>
                    <span class='align-middle'>Change Avatar</span>
                  </a>
                </li>
                <li class='sidebar-item'>
                  <a class='profilebar-link active' href='/user/password'>
                    <span class='align-middle'>Change Password</span>
                  </a>
                </li>
                <li class='sidebar-item'>
                  <a class='profilebar-link active' href='/user/logout'>
                    <span class='align-middle'>Logout</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-4 col-xl-5'>
        <form id='profile' method='post'>
          <div class='row'>
            <div class='card'>
              <div class='card-body'>
                <!-- id -->
                <div class='text-center mb-2'>
                  <input
                    type='text'
                    name='id'
                    class='form-control'
                    placeholder='User Name'
                    value='{{user.id}}'
                    hidden
                  />
                </div>
                <!-- User Name -->
                <h5 class='card-title mb-2'>User Name</h5>
                <div class='text-center mb-2'>
                  <input
                    type='text'
                    name='name'
                    class='form-control'
                    placeholder='User Name'
                    value='{{user.name}}'
                    readonly
                  />
                </div>
                <!-- Email -->
                <h5 class='card-title mb-2'>Email</h5>
                <div class='text-center mb-2'>
                  <input
                    type='text'
                    name='email'
                    class='form-control'
                    placeholder='Email'
                    value='{{user.email}}'
                    readonly
                  />
                </div>
                <!-- Phone Number -->
                <h5 class='card-title mb-2'>Phone Number</h5>
                <div class='text-center mb-2'>
                  <input
                    type='text'
                    name='phone'
                    class='form-control'
                    placeholder='Phone Number'
                    value='{{user.phone}}'
                  />
                </div>
                <h5 class='card-title mb-2'>Address</h5>
                <div class='text-center mb-2'>
                  <input
                    type='text'
                    name='address'
                    class='form-control'
                    placeholder='Address'
                    value='{{user.address}}'
                  />
                </div>
                <!-- Sex -->
                <h5 class='card-title mb-2'>Sex</h5>
                <div class='text-center mb-2'>
                  {{#if user.sex}}
                    <select
                      name='sex'
                      class='form-control'
                      aria-label='Default select example'
                    >
                      <option value='true'>Male</option>
                      <option value='false'>Female</option>
                    </select>
                  {{else}}
                    <select
                      name='sex'
                      class='form-control'
                      aria-label='Default select example'
                    >
                      <option value='false'>Female</option>
                      <option value='true'>Male</option>
                    </select>
                  {{/if}}
                </div>
                <!-- Dob -->
                <h5 class='card-title mb-2'>Date Of Birth</h5>
                <div class='text-center mb-2'>
                  <input
                    type='text'
                    name='date'
                    class='form-control'
                    placeholder='Date Of Birth'
                    value='{{user.dob}}'
                    readonly
                  />
                </div>
                <div
                  id='error-message'
                  style='color: red; display: none;'
                >Please fill out all fields before submitting the form.</div>
                <div class='text-center'>
                  <input
                    type='submit'
                    value='Update'
                    class='btn btn-secondary'
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src='/assets/js/account/profile.js'></script>