<table class='table'>
  <thead class='thead-dark'>
    <tr style='text-align:center;'>
      <th scope='col'>Id</th>
      <th scope='col'>Date</th>
      <th scope='col'>Username</th>
      <th scope='col'>Email</th>
      <th scope='col'> Detail</th>
      <th scope='col'>Update</th>
    </tr>
  </thead>
  <tbody>
    {{#each book}}
      <tr style='text-align:center;'>
        <td>{{id}}</td>
        <td>{{date}}</td>
        <td>{{User.name}}</td>
        <td>{{User.email}}</td>
        <td>
          <a href='' style='color: black;'><i
              class='fa-solid fa-magnifying-glass'
            ></i></a>
          <td>
            <a href='/room/update/{{id}}' style='color: black;'><i
                class='fa-solid fa-pen-to-square'
              ></i></a>
          </td>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<nav aria-label="Pagenavigation">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {{#each pagesArray}}
      <li {{#if (isCurrentPage ../currentPage this)}} class="page-item" {{/if}}>
        <a class="page-link" href='/booking/index?page={{this}}'>{{this}}</a>
      </li>
    {{/each}}
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>