<!-- ***** Header Area End ***** -->
<div class='main-banner' id='top' style='padding-bottom: 60px;'>
  <div class='container-fluid'>
    <div class='row justify-content-center'>
      <div class='col-md-4 col-xl-3'>
        <div class='card mb-2'>
          <div class='card-body text-center'>
            <h5 class='card-title mb-4'>Profile</h5>
            <img src='/images/{{user.image_url}}' class='assets/images-fluid rounded-circle mb-2' width='128'
              height='128' />
            <h3 class='mb-0'>{{user.name}}</h3>
            <div class='text-muted mb-0'>{{user.email}}</div>
            <div class='card-body'>
              <hr />
              <ul class='list-unstyled mb-0'>
                <li class='sidebar-item'>
                  <a class='profilebar-link active' href='/user/profile'>
                    <span class='align-middle'>Profile</span>
                  </a>
                </li>
                <li class='sidebar-item'>
                  <a class='profilebar-link active' href='/booking/order/{{user.id}}'>
                    <span class='align-middle'>Manage Order</span>
                  </a>
                </li>
                <li class='sidebar-item'>
                  <a class='profilebar-link active' href='/user/image'>
                    <span class='align-middle'>Change Avatar</span>
                  </a>
                </li>
                <li class='sidebar-item'>
                  <a class='profilebar-link active' href='/user/password'>
                    <span class='align-middle'>Change Password</span>
                  </a>
                </li>
                <li class='sidebar-item'>
                  <a class='profilebar-link active' href='#'>
                    <span class='align-middle'>Logout</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-4 col-xl-5'>
        <div class='row'>
          <div class='card'>
            <div class='card-body'>
              <div id='error-message' style='color: red; display: none;'>You can only cancel the order before check-in
                date</div>
              <table class='table'>
                <thead class='thead-dark'>
                  <tr style='text-align:center;'>
                    <th scope='col'>ID</th>
                    <th scope='col'>Name</th>
                    <th scope='col'>Check In</th>
                    <th scope='col'>Check Out</th>
                    <th scope='col'>Status</th>
                    <th scope='col'>Cancel</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each bookdetail}}
                  <tr style='text-align:center;'>
                    <td>{{id}}</td>
                    <td>{{Room.name}}</td>
                    <td>{{order_check_in}}</td>
                    <td>{{order_check_out}}</td>
                    <td>
                      {{#if (equal status 'Pending')}}
                      <span class="badge badge-primary">{{status}}</span>
                      {{else}}
                      {{#if (equal status 'Cancel')}}
                      <span class="badge badge-danger">{{status}}</span>
                      {{else}}
                      <span class="badge badge-success">{{status}}</span>
                      {{/if}}
                      {{/if}}
                    </td>
                    <td>
                      <form id="form-{{id}}" action="/booking/cancel" method="POST" style="display: inline;">
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="hidden" name="userid" value="{{../user.id}}">
                        <button type="submit" class="submit-btn"
                          style="background: none; border: none; color: black; cursor: pointer;"
                          data-checkin="{{order_check_in}}">
                          <i class="fa-solid fa-light fa-ban"></i>
                        </button>
                      </form>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
            <nav aria-label="Pagenavigation">
              <ul class="pagination justify-content-center">
                {{#each pagesArray}}
                <li {{#if (isCurrentPage ../currentPage this)}} class="page-item" {{/if}}>
                  <a class="page-link"
                    href='/booking/orderdetail/{{../id}}?userid={{../user.id}}&page={{this}}'>{{this}}</a>
                </li>
                {{/each}}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src='/assets/js/booking/cancel.js'></script>