<!-- ***** Product Area Starts ***** -->
<section class='section' id='product' style='margin: 0;'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-lg-6'>
        <div class='left-images'>
          <img
            src='/images/{{room.image_url}}'
            style=' border: 1px solid #000; border-radius: 5px;'
          />
        </div>
      </div>
      <div class='col-lg-4'>
        <div class='right-content'>
          <h1 style=' font-size: 50px;'>{{room.name}}</h1>
          <h5
            class='price'
            style='margin-top: 30px; font-weight: bold; font-size: 30px;'
          >Price : ${{room.price}}</h5>
          <h5 style='margin-top: 30px; font-weight: bold; font-size: 30px'>Type
            :
            {{room.type}}</h5>
          <div class='quote'>
            <h5 style='font-weight: bold; font-size: 30px'>
              {{room.floor}}</h5>
          </div>
          <h5
            style='margin-top: 30px; font-weight: bold; font-size: 30px'
          >Capacity :
            {{room.capacity}}</h5>
          <div class='total' style='margin-top: 50px; '>
            <div class='main-border-button'><a
                href='/room/update/{{room.id}}'
              >Update</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>