<div class='row'>
  <div class='col-2'>
    <div
      class='card'
      style='border-radius: 30px; width:150px; margin-bottom: 20px;'
    >
      <a class='Add_btn' href='./create'><i class='fa-solid fa-add'></i>
        Add More</a>
    </div>
  </div>
</div>

<table class='table'>
  <thead class='thead-dark'>
    <tr style='text-align:center;'>
      <th scope='col'>Id</th>
      <th scope='col'>Name</th>
      <th scope='col'>Type</th>
      <th scope='col'>Image</th>
      <th scope='col'>Status</th>
      <th scope='col'>Detail</th>
      <th scope='col'>Update</th>
      <th scope='col'>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each room}}
      <tr style='text-align:center;'>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{type}}</td>
        <td><img src='/images/{{image_url}}' width='100' height='100' /></td>
        <td>{{#if status}}Available{{else}}Not Available{{/if}}</td>
        <td>
          <a href='/room/adminroomDetail/{{id}}' style='color: black;'><i
              class='fa-solid fa-magnifying-glass'
            ></i></a>
          <td>
            <a href='/room/update/{{id}}' style='color: black;'><i
                class='fa-solid fa-pen-to-square'
              ></i></a>
          </td>
          <td>
            <a href='' style='color: black;'><i
                class='fa-solid fa-trash'
              ></i></a>
          </td>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<nav aria-label="Pagenavigation">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {{#each pagesArray}}
      <li {{#if (isCurrentPage ../currentPage this)}} class="page-item" {{/if}}>
        <a class="page-link" href='/room/roomIndex?page={{this}}'>{{this}}</a>
      </li>
    {{/each}}
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
<!--
<div class='row'>
  <ul class="pagination">
    {{#each pagesArray}}
      <li {{#if (isCurrentPage ../currentPage this)}} class="active"{{/if}}>
        <a href='/room/roomIndex?page={{this}}'>{{this}}</a>
      </li>
    {{/each}}
  </ul>
</div>-->