<div class='main-banner' id='top' style='padding-bottom: 60px;'>
  <div class='container-fluid'>
    <table>
      <style>
        table, th, td { border:1px solid black; }
      </style>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Status</th>
        <th>Capacity</th>
        <th>Hidden</th>
      </tr>
      {{#each room}}
        <tr>
          <td>{{name}}</td>
          <td><img src='/images/{{image_url}}' width='50' height='60' /></td>
          <td>{{price}}</td>
          <td>{{status}}</td>
          <td>{{capacity}}</td>
          <td>{{delete_status}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>