<form method="post">
  <label>name</label><br />
  <input type="text" name="name" value="{{room.name}}" /><br />
  <label>type</label><br />
  <input type="text" name="type" value="{{room.type}}" /><br />
  <label>floor</label><br />
  <input type="text" name="floor" value="{{room.floor}}" /><br />
  <label>price</label><br />
  <input type="text" name="price" value="{{room.price}}" /><br />
  <label>capacity</label><br />
  <input type="text" name="capacity" value="{{room.capacity}}" /><br />
  <input type="submit" value="Submit" />
</form>